<h3>My Account</h3>
<h4>Email: </h4>
<%= @user.email %>

<h4>My Devices:</h4>
<% @user.devices.each do |d| %>
    <br>
    <%= d.mac %>
    -
    <%= link_to "Delete Device", user_device_path(@user, d), :method  => :delete %>
<% end %>

<h3>Add a device:</h3>
<%= form_for([@user, @user.devices.build]) do |f| %>
    <div class="field">
      <%= f.label "MAC Address" %><br />
      <%= f.text_field :mac %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

